.room__info {
  padding: 143px 0 100px;
}
.room__info-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.room__info-card {
  width: 387px;
  height: 515px;
  padding: 21px 21px 0;
  margin-bottom: 40px;
  border: 1px solid #e7e7e7;
  border-radius: 62px;
}
